/* 
body {
    background: red;
} */


/*==============================================
01. GENERAL CSS
================================================*/

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font: 16px/1.6 'Raleway', Arial, Helvetica, sans-serif;
  color: #fff;
  text-align:center;
  /* background: #222; */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(250, 250, 250, 0.99);
}

img {
  border: 0;
  max-width: 100%;
}
html {
  -ms-overflow-style: scrollbar;
}
.alltrans,
.social-icons li a,
.owl-nav > button,
.owl-nav > button:after,
.counter-box,
.about-img:after,
.gallery-img img,
.form-control,
.owl-dot,
.subscribe-row,
.close-btn,
.close-btn:before,
.close-btn:after,
.tag-btn,
.btn {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a {


  color: #191c91;
  font-weight: 500;
  /* color: #fff; */
  text-decoration: none;
}
a:hover,
a:focus {

  text-decoration: none;

  color: #191c91;
  font-weight: 500;

  /* color: #fff; */
  outline: none;
  text-decoration: none;
}
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
  a:active {
    background-color: transparent;
  }
}
p {
  margin: 0 0 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0 0 20px;
  font-weight: 600;
  text-transform:uppercase;
}
h1,
h2 {
  font-size: 32px;
}
h3 {
  font-size: 30px;
  font-weight: 600;
}
h4 {
  font-size: 22px;
  font-weight: 600;
}
h5 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}
h6 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}
#app {
  width: 100%;
/* height: 100%; */

  margin: 0;
  padding: 0;


  color: #191c51;
  background: rgba(250, 250, 250, 0.99);
}
.no-margin {
  margin: 0 !important;
}
figure {
  margin:0;
}
.opacity-no {
  opacity: 1 !important;
}

/*
======================CAFLE================================================
*/

.statystyki .box {
  padding: 0rem;
  height: 150px

}

.statystyki .top {
  padding: 1rem;
  border-radius: 5px 5px 0 0;
  height: 60px;
  color: white;
  font-weight: 600;
}

.statystyki .top.filmweb {
  background: rgb(255, 69, 96);

}

.statystyki .top.imdb {
  background: rgb(254, 176, 25);

}

.statystyki .top.srednia {
  background: rgb(0, 143, 251);
}


.statystyki .bottom {
  padding: 1rem;
  border-radius: 5px;
}


.box {


  color: #191c51;
  border: 1px solid #eaeefb;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.08);
  background: white;
  box-shadow: 0 6px 18px 0 rgba(232,237,250,.5);
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  border-radius: 5px;
  padding: 1rem;;
  border-radius: 5px;
}

.box:hover {
  border: 1px solid rgba(25,28,81,0.2);

}


button {
  border: 1px solid #191c51;
  padding: 0.5rem;
  background: white;
  color: #191c51;
  border-radius: 5px;

  text-align: center;
  transition: all .3s ease-in-out;
  border: 1px solid #eaeefb;

  font-weight: 600;;

}


button:active {
  outline: none;
  border: none;


  transform: scale(.98);
}

button:focus {outline:0;}


button:hover {
  bottom: 6px;
  box-shadow: 0 6px 18px 0 rgba(232,237,250,.5);
  background: rgba(232,237,250,.9);
  cursor: pointer;
}

/*
======================GRID================================================
*/


#dane {
  /* display: none; */
  margin-top: 1rem;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.logo img {
  width: 1.5rem;
  height: 1.5rem;
}

#csv {
  margin-left: 1rem;

}

.github {
  margin-left: 15px;
}

#top {
  height:2rem;
  line-height: 2rem;
  display: flex;
  justify-content: space-between;

 
}

button#zobacz {
  /* float: right; */
  display: inline-block;
  margin-top: -1rem;
  vertical-align: middle;

}

#content {

  margin: 0;
  padding: 1rem;

  /* padding: 1rem; */
  /* display: grid; */
  background: rgba(250, 250, 250, 0.99);

}

#dashboard {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr  1fr;
  grid-template-rows: auto  auto auto auto auto auto;

  grid-template-areas: "s  a"

  "o  g"
 
  "r  m"
  "rk rk"
  "gh gh"
  "bc  bc";
}

#dashboard .box {
  margin: 0.5rem;
}

#dashboard .box span {
  font-size: 14px;
  font-weight: 600;
  font-family: Helvetica, Arial, sans-serif;
  opacity: 1;
  color: black;
}

#dashboard .statystyki {
  grid-area: s;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}


#dashboard .oceny {
  grid-area: o;
}

#dashboard .aktorzy {
  grid-area: a;


}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* display: block; */
  align-items: flex-start;
}

.movie-list::after {
  content: "";
  flex: auto;
}

.movie-item {
  /* border: 1px solid red; */
  /* margin: 0.5rem; */
  display: block;
  /* border: 1px solid red; */
  margin: 0.5rem;
  cursor: pointer;


}

.movie-item img {
  width: 110px;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 0.2s ease-in-out;
}

.movie-item .title {
  max-width: 110px;

  /* width: 100px; */
}

.movie-item:hover img {
  border: 2px solid rgba(255,69,96,1);
  border-radius: 5px;
}

.movie-item:active img {

  transform: scale(0.8);
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
}

#dashboard .gatunki {
  grid-area: g;
}

#dashboard .gatunki_historia {
  grid-area: gh;
}

#dashboard .rekomendacje {
  grid-area: rk;
}

#dashboard .radar {
  grid-area: r;
}

#dashboard .mapa {
  grid-area: m;
}

#dashboard .bubble_chart {
  grid-area: bc;
}

/* 
#dashboard .aktorzy .actor {
  display: flex;
  justify-content: space-between;
} */

#dashboard .aktorzy .actor .title h4 {
  font-size: 14px;
}

/* 
#oceny_histogramChart {
  position: absolute;
  bottom: 0;
  width: 100%;
} */
/*
======================DANE================================================
*/
.dane .checked {
  color: #929daf;
}

.dane .fa.fa-star.checked {
  color: #472684;
}

.dane .fa.fa-star {
  color: rgba(0, 0, 0, 0.08);
}

.dane .active {
  color: #929daf;

  font-family: "Montserrat";
  /* font-weight: bold; */
  /* font-size: 18px; */
  /* color: #428BFF; */
  /* color: #929daf; */
  font-size: 15px;
  margin-left: 15px;
}

.dane .info {
  color: #929daf;

  font-family: "Montserrat";
  /* font-weight: bold; */
  /* font-size: 18px; */
  /* color: #428BFF; */
  /* color: #929daf; */
  font-size: 15px;
  margin-left: 15px;
}

.dane a.imdb img  {
  width: 32px;
  vertical-align: top;
  margin-top: -5px;
}

.dane .ocena {
  margin-left: 15px;
  /* color: #929daf; */

  font-family: "Montserrat";
  /* font-weight: bold; */
  /* font-size: 18px; */
  /* color: #428BFF; */
  /* color: #929daf; */
  font-size: 15px;
  margin-left: 15px;
  width: 20px;

}

.dane .data {
  color: #472684;

  font-family: "Montserrat";
  /* font-weight: bold; */
  /* font-size: 18px; */
  /* color: #428BFF; */
  /* color: #929daf; */
  font-size: 15px;
  margin-left: 15px;
  width: 90px;
}

.dane .row {
  border: 1px solid silver;

  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
}
/* 
======================DANE================================================ 
*/


/* 
======================TABS================================================ 
*/
.tabs {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: relative;
    background: white;
    padding: 50px;
    padding-bottom: 80px;
    width: 90%;
    /* height: 250px; */
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    min-width: 240px;
    margin-top: 50px;
  }
  .tabs input[name="tab-control"] {
    display: none;
  }
  .tabs .content section h2,
  .tabs ul li label {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    color: #428BFF;
  }
  .tabs ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .tabs ul li {
    box-sizing: border-box;
    flex: 1;
    width: 25%;
    padding: 0 10px;
    text-align: center;
  }
  .tabs ul li label {
    transition: all 0.3s ease-in-out;
    color: #929daf;
    padding: 5px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .tabs ul li label br {
    display: none;
  }
  .tabs ul li label svg {
    fill: #929daf;
    height: 1.2em;
    vertical-align: bottom;
    margin-right: 0.2em;
    transition: all 0.2s ease-in-out;
  }
  .tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
    outline: 0;
    color: #bec5cf;
  }
  .tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
    fill: #bec5cf;
  }
  .tabs .slider {
    position: relative;
    width: 25%;
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
  }
  .tabs .slider .indicator {
    position: relative;
    width: 50px;
    max-width: 100%;
    margin: 0 auto;
    height: 4px;
    background: #428BFF;
    border-radius: 1px;
  }
  .tabs .content {
    margin-top: 30px;
  }
  .tabs .content section {
    display: none;
    -webkit-animation-name: content;
            animation-name: content;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    line-height: 1.4;
  }
  .tabs .content section h2 {
    color: #428BFF;
    display: none;
  }
  .tabs .content section h2::after {
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background: #428BFF;
    margin-top: 5px;
    left: 1px;
  }
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    cursor: default;
    color: #428BFF;
  }
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
    fill: #428BFF;
  }
  @media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
      background: rgba(0, 0, 0, 0.08);
    }
  }
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
    display: block;
  }
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    cursor: default;
    color: #428BFF;
  }
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
    fill: #428BFF;
  }
  @media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
      background: rgba(0, 0, 0, 0.08);
    }
  }
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
    display: block;
  }
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    cursor: default;
    color: #428BFF;
  }
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg {
    fill: #428BFF;
  }
  @media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
      background: rgba(0, 0, 0, 0.08);
    }
  }
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
    display: block;
  }
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
    cursor: default;
    color: #428BFF;
  }
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label svg {
    fill: #428BFF;
  }
  @media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
      background: rgba(0, 0, 0, 0.08);
    }
  }
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
  }
  .tabs input[name="tab-control"]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
    display: block;
  }
  @-webkit-keyframes content {
    from {
      opacity: 0;
      -webkit-transform: translateY(5%);
              transform: translateY(5%);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  @keyframes content {
    from {
      opacity: 0;
      -webkit-transform: translateY(5%);
              transform: translateY(5%);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  @media (max-width: 1000px) {
    .tabs ul li label {
      white-space: initial;
    }
    .tabs ul li label br {
      display: initial;
    }
    .tabs ul li label svg {
      height: 1.5em;
    }
  }
  @media (max-width: 600px) {
    .tabs ul li label {
      padding: 5px;
      border-radius: 5px;
    }
    .tabs ul li label span {
      display: none;
    }
    .tabs .slider {
      display: none;
    }
    .tabs .content {
      margin-top: 20px;
    }
    .tabs .content section h2 {
      display: block;
    }
  }

  /* 
======================TABS================================================ 
*/
  