<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
</head>
<body>
<div id="main">
    <div id="example">
        <div v-for="m in dane">
            <span>[[m.originalTitle]] ([[m.Gatunek]]): </span> [[m.Ocena]]
        </div>
    </div>
    <div>
        <canvas id="pieChart" width="400" height="400"></canvas>
    </div>
    <div>
        <canvas id="flowChart" width="400" height="400"></canvas>
    </div>
    <div>
        <canvas id="radarChart" width="400" height="400"></canvas>
    </div>
</div>
<script>
    var pie =  {{ pie|safe }}
    var radar =  {{ radar|safe }}
    var flow =  {{ flow|safe }}
    var dane =  {{ dane|safe }}

    new Vue({
        el: '#example',
        delimiters: ['[[', ']]'],
        data: {
            hello: 'Hello World!',
            dane: ''
         },
        mounted: function () {

        },
        methods: {
            submit_form: function (e) {
                print('Form submitted', e)
            }
        }
    })
</script>
<script type=text/javascript src="{{ url_for('static', filename='charts.js') }}"></script>
</body>
</html>